# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno then run `deno lint` and `deno test`.
# For more information see: https://github.com/denoland/setup-deno

name: Deno

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Setup repo
      run: smth
    - name: Setup Deno
      run: smth
    - name: Run linter
      run: smth
    - name: Run tests
      run: deno test -A
          
  build:
    name: Build
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Build repo
        run: smth
      - name: Setup Env
        run: smth
      - name: Go 
        run: deno test B

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to prod
        run: smth
      - name: Setup Env
        run: smth
      - name: Go Live
        run: deno test B
